body{
    color: white;
    background-color: #333;
}
/* .time-sets{
    display: grid;
    grid-template-columns: 50px 200px 50px;
    justify-items: center;
    align-items: center;
}
*/
.dual-container{
    display: flex;
    
} 
.column {
    flex: 33.33%;
    
    padding: 10px;
    
    text-align: center;
  }
  .container {
    display: flex;
    padding-top: 80px;
    width: 100%;
 }	
 .center-align{
    justify-items: center;
    align-items: center;

 }
 .middle{
    border-style: groove;
    border-width: 1px;
    height: 100%;
    padding-bottom: 50px;
 }

 .score{
    border-style: groove;
    border-width: 1px;
    text-align: left;
    padding-left : 10px
 }
 span {
    font-size: 20px;
 }

 .buttons{
    height: 50px;
    background-color: #333;
    border: 2px solid #e7e7e7;
    margin-right: 3%;;
    margin-top: 3%;
 }

  .event-scroller{
    display: grid;
    grid-auto-flow: column;
    border: 2px solid #e7e7e7;
    grid-auto-columns: 25%;
    padding-top:"30px";
    
 } 