body{
    color: white;
    background-color: #333;
}
/* .time-sets{
    display: grid;
    grid-template-columns: 50px 200px 50px;
    justify-items: center;
    align-items: center;
}
*/
.dual-container{
    display: flex;
    
} 
.column {
    flex: 33.33%;
    
    padding: 1%;
    
    text-align: center;
  }
  .container {
    display: flex;
    padding-top: 4%;
    width: 100%;
    max-height: 50%;
 }	
 .center-align{
    justify-items: center;
    align-items: center;

 }
 .middle{
    border-style: groove;
    border-width: 1px;
    height: 100%;
    padding-bottom: 5%;
 }

 .score{
    border-style: groove;
    border-width: 1px;
    text-align: left;
    padding-left : 10px
 }
 span {
    font-size: 20px;
 }

 .buttons{
    height: 50px;
    background-color: #333;
    border: 2px solid #e7e7e7;
    margin-right: 3%;;
    margin-top: 3%;
 }

 .event-scroller::webkit-scrollbar{
    width: auto;
 }

  .event-scroller{
    display: grid;
    grid-auto-flow: column;
    border: 1px solid #e7e7e7;
    grid-auto-columns: 33%;
    padding-top:2%;
    padding-bottom: 0px;
    overflow: auto;
    margin-top: 20px;
 } 
 


 .event{
    display: inline-block;
 }

 .card-content{
    height: 5%;
 }

 .card-action{
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    
 }